<form>
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-12 col-sm-12 col-md-4">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedAgeGroup" name="selectedAgeGroup">
          <option selected hidden class="select-kursiv">{{selectedAgeGroup}}</option>
          <option *ngFor="let ageGroup of ageGroups" value="{{ageGroup}}">
            {{ageGroup}}
          </option>
        </select>
      </div>
      <div class="col-12 col-sm-12 col-md-3">
          <button class="btn btn-outline-primary" (click)="searchAthletesByAgeGroup()">
              Suchen
        </button>
      </div>
    </div>
  </div>
</form>

<div class="container">
  <div class="row justify-content-center">
      <div *ngFor="let athlete of athletes" class="col-12 col-sm-6 col-md-4 col-lg-3 ">
          <la-athlete-card [athlete]="athlete">
          </la-athlete-card>
      </div>
  </div>
</div>