<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
            <li  class="nav-item" routerLinkActive="active-link" (click)="navigateToOverview()">
                <a class="nav-link" role="button"> Athletenprofil</a>
            </li>
            <li  class="nav-item" routerLinkActive="active" (click)="navigateToResult()">
                <a class="nav-link" role="button"> Wettkampfergebnisse</a>
            </li>
        </ul>
    </div>
</nav>
